@import url("/home/moe/.config/waybar/colors.css");

* {
  font-family: "Aller", monospace;
  font-size: 14px;
  border-radius: 20px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
  color: @inverse_primary;
}

#workspaces {
  background-color: @surface_container_low;
  padding: 4px;
  border-radius: 20px;
  margin-left: 12px;

}

#workspaces button {
  background-color: @on_primary_fixed_variant;
  border-radius: 20px;
  margin: 2px;
}

#workspaces button.active {
  color: @on_primary_fixed;
  background-color: @primary_fixed_dim;
  transition: margin 150ms ease-in-out, padding 150ms ease-in-out;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.2s ease;
  padding: 4px 15px;
  border-radius: 15px;
}

#workspaces button.active:hover {
  color: @primary_container;
}

#workspaces button:hover {
  background-color: @inverse_primary;
  transition: margin 150ms ease-in-out, padding 150ms ease-in-out;
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.2s ease;
  padding: 4px 15px;
}

#workspace button.urgent {
  background-color: @error;
  color: @on_error;
}

#clock,
#battery,
#network,
#powerbutton,
#tray,
#clock,
#pulseaudio,
#cpu,
#temperature,
#tray,
#memory,
#custom-power,
#custom-notification,
#custom-nixos {
  color: @primary;
  background-color: @surface_container;
  padding: 0 10px;
  margin: 0 0 0 8px;
}

#pulseaudio {
  color: @primary;
  background-color: @surface_container;
  border-radius: 20px;

  padding-top: 2px;
  /* nudge icon down */
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 25px;

}


#custom-power {
  color: @primary;
  background-color: @surface_container;
  border-radius: 20px;

  padding-top: 2px;
  /* nudge icon down */
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 15px;
}

#custom-notification {
  color: @primary;
  background-color: @surface_container;
  border-radius: 20px;

  padding-top: 2px;
  /* nudge icon down */
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 23px;
}

#custom-nixos {
  color: @primary;
  background-color: @surface_container;
  border-radius: 20px;
  padding-top: 2px;
  /* nudge icon down */
  padding-bottom: 2px;
  padding-left: 17px;
  padding-right: 23px;
}

#battery {
  color: @primary;
  background-color: @surface_container;
  border-radius: 20px;
  padding-top: 2px;
  /* nudge icon down */
  padding-bottom: 2px;
  padding-left: 16px;
  padding-right: 23px;
}
